.aboutme {
    font-size: 3rem;
    font-family: 'Fira Sans', sans-serif;
}

.dinnerrecipesContainer {
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.dinnerrecipes {
    width: 300px;
    height: 250px;
}