.recipeContainer {
    display: ;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .recipeImage {
    flex-basis: 30%;
    width: 200px;
    height: 20px;
    height: auto;
    margin-left: 50px;
  }

  .recipeInfo {
    flex-basis: 70%;
    padding-left: 10px;
    display: flex; 
  }

  .recipeTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0 40px;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
  }

  .recipeText {
    margin-top: 10px;
    font-family: 'PT Sans', sans-serif; 
  }

  .onerecipe {
    display: block;
  }