.box {
    background-color: #f1f3f1a1;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 50px 200px;
    padding: 20px;
  }

/*------------ section ------------1*/
.titleContainer{
    display: flex;
    align-items: center;
}

.titleInfo {
    flex: 1;
    
}

.srimage {
    margin-left: 10px;
    width: 200px;
    height: 200px;
}

.buttonsection {
    display: flex;
    justify-content: space-between;  
    margin:20px 40px;  
}

.printBtn, .pinBtn {
    width: 350px;
    height: 50px;
    font-size: 20px; 
    font-weight: bold;   
}

.printBtn {
    background-color: rgb(56, 133, 59);
    color: white; 
    
}

.line1 {
  height: 1px;
  background-color: #000;
  position: relative;
  margin: 20px 0;
}

.iconTime, .iconSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
}

/*---------- section 2--------------*/

.sect2, .sect3{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 30px;
}

.left .rigth {
    flex:1;
}

.left {
    text-align: center;
}

.right  {
    text-align: right;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
}

.iconHat, .iconFork {
    width: 50px;
    height: 50px;
    background-color: #050505;
}

/*---------- section 3--------------*/


.rightSect3 {
    display: inline-flex;
}

/*---------- section 4--------------*/


h2.equipment:after, h2.ingredients:after, h2.instructions:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
  }


/*---------- leave a reply section  --------------*/

/* I do not use it, I will not put it in my HTML */






