/* fontfamily information from google fonts. 
<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&family=Work+Sans&display=swap');
</style>
font-family: 'Fira Sans', sans-serif; - for titles 
font-family: 'PT Sans', sans-serif;  for paragraf
font-family: 'Work Sans', sans-serif; - for h2 and under
*/


body {
    margin:0;
    background-color: #87b78fa1;
}

#homelogo {

  justify-content: center;
  align-items: center;
  height: 40vh;

    /*
    width: 70rem;
    height: 60rem;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: 5%;*/


}

h1 {
    color: #0000; 
    font-size: 4rem;
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'PT Sans', sans-serif; 
    color: #0000; 
    font-size: 1rem;
}

#breakfastBtn, #dinnerBtn, #dessertBtn{
    font-size: 4rem;
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
    padding: 3em;
    margin-left: 2em;
}

.about, .contact {
    font-size: 6rem;
    font-family: 'Fira Sans', sans-serif; 
    display: inline-block;
    padding: 5em; 
    margin-left: 5em;
}






