/* fontfamily information from google fonts. 
<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&family=Work+Sans&display=swap');
</style>
font-family: 'Fira Sans', sans-serif; - for titles 
font-family: 'PT Sans', sans-serif;  for paragraf
font-family: 'Work Sans', sans-serif; - for h2 and under
*/


body {
    margin:0;
    background-color: #87b78fa1;
}

h1 {
    color: #0000; 
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'PT Sans', sans-serif; 
    color: #0000; 
}

.details-punchline{
    color: rgb(28, 16, 162); 
}

.details-type {

}

button {
    color: rgb(188, 34, 52)
}

.showhideBtn {
    font-size:1rem;
}

.results{
    margin:auto;
    background: white;
    color: white;
}

.nav {
    background-color: gainsboro;
    font-size: 40px;
    padding: 20px;
}
.mainpage, .singeljoke {
    padding: 50px;
    color:rgb(32, 109, 62)
}

.generalBtn, .programmingBtn, .knockknockBtn {
    margin:10px 40px;
}

.result-type {
    font-size: 20px;
}

hr {
    width: auto;
    top: 20px;
    border: none;
    height: 12px;
    background:rgb(32, 109, 62) ;
    margin-bottom: 50px;
}